.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 12rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.logout_btn {
  padding: 12px 24px;
  background-color: #e6e67c; 
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
